@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Roboto&family=Work+Sans&display=swap");

.dashboard {
    background-color: var(--Neutral-White-100);
    font-family: 'Josefin Sans', sans-serif
}

.custom-row {
    margin-left: -3%;
    margin-right: 1%;
}
.custom-col {
    margin-left: 2%;
    margin-right: -4%;
}