@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Roboto&family=Work+Sans&display=swap");

.dashboard {
    background-color: var(--Neutral-White-100);
    font-family: 'Josefin Sans', sans-serif
}

.orderChart {
    padding: 16px 20px 24px;
    gap: 24px;
    margin-top: 2%;
    width: 403px;
    height: 386px;

    background: var(--Neutral-White-0);
    border-radius: 10px;
}

.textOrderChart {
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
}